<html>
	<head>
		<link rel="stylesheet" type="text/css" href="playercard.css"></link>
	</head>
</html>
<body>
	<div class="player-card-container">
		<div class="team-display"></div>
		<div class="player-card-details">
			<div class="position-display"></div>
			<div class="player-main-details">
				<div class="position-and-handedness">C/LH</div>
				<div class="player-name">
					<div class="first-name">Connor</div>
					<div class="last-name">McDavid</div>
				</div>
				<div class="core-attributes">
					<div class="overall attribute">93</div>
					<div class="salary attribute">0.975</div>
				</div>
			</div>
			<div class="player-additional-details">
				<div class="player-additional-attribute-preview">
					<div class="shooting attribute">89</div>
					<div class="power-play attribute">95</div>
					<div class="penalty-kill attribute">82</div>
					<div class="speed attribute">97</div>
				</div>
				<div class="player-additional-attribute-show-more">more</div>
			</div>
		</div>
	</div>
</body>